.profile-page {
  display: flex;
  align-items: stretch;
  min-height: 85vh;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .profile-page {
    min-height: 100vh;
    padding-bottom: 5rem;
  }
}
